.form {
    /* border: 2px solid red ; */
    text-align: left;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}


.create-spot-submit-button {
    /* margin-left: auto;
    margin-right: auto; */
    background-color: #FF5A5F;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 40px;
    width: 220px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;

}

.create-spot-submit-button-container {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 95%;
    background-color: rgb(224, 241, 247);
}

textarea {
    width: 95%;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(224, 241, 247);
}

.errors {
    color: #FF5A5F;
}

.radio-button-section {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.radio-input {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    width: 30%;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
}
