* {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-weight: 400;
}

.booking-box-container {
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 20px;
}

.booking-box-container > button {
    background-color: #FF5A5F;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    grid-column: span 4;
    margin: 0 auto;
}

.booking-container-price {
    grid-column: span 2;
    font-size: 20px;
}

.booking-container-reviews {
    grid-column: span 2;
}

.description-and-reserve-box-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
}

.description-text {
    grid-column: span 4;
}

.just-night {
    font-size: 16px;
}

.main-container {
    padding-left: 50px;
    padding-right: 50px;
}

.image-grid {
    box-sizing: border-box;
    /* padding: 50px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 10px;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: span 2;
    grid-row: span 2;
}
.small-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
