* {
    text-decoration: none;
}

.card-lower-half {
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: black;
}

.card-price {
    font-size: 18px;
    font-weight: 500;
}

.spot-just-night {
    font-size: 14px;
}

.spot-card {
    width: 20%;
    padding: 30px;
    padding-bottom: 0px;
    height: 400px;
}


.spot-card-gallery-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
}

.spot-card-image-container {
    overflow: hidden;
    height: 50%;
    /* border: 2px solid red; */
}

.spot-card-img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;

}
