
  .off {
    color: #ccc;
  }


  .on {
    color: gold;
  }


  .post-review-button {
    background-color: #FF385C;
    color: white;
    width: 300px;
    height: 50px;
    box-shadow: 1px 5px 5px black;
    margin: 20px;
  }


  .review-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 0, 20px;
    padding-bottom: 20px;
  }


  .star {
    margin-left: 20px;

  }


  .stars {
    margin-left: 145px;
  }


  #star-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
