.create-new-spot-link {
    padding-right: 150px;
    font-size: 20px;
    text-decoration: none;
    color: teal;
}

.bookings-link {
    padding-right: 20px;
    font-size: 20px;
    text-decoration: none;
    color: teal;
}

.fa-solid {
    font-size: 16px;
    padding-right: 10px;
}

.fa-user-circle {
    font-size: 24px;
}

.profile-image {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.header-dropdown-button {
    align-items: center;
    /* border: 1px; */
    /* border-radius: 25px; */
    /* border-style: solid; */
    border: none;
    display: flex;
    height: 40px;
    justify-content: center;
    padding: 10px;
    position: absolute;
    right: 50px;
    top: 20px;
    width: 80px;
    background-color: white;
}

.header-dropdown-button:hover {
    cursor: pointer;
}

.header-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: .5px solid gray;
    height: 70px;
    /* position: fixed; */
    margin-bottom: 25px;

}

.subheader-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border-bottom: .5px solid gray;
    height: 40px;
    /* position: fixed; */
    /* border: 2px solid red; */
    padding-bottom: 10px;
}

.hidden {
    display: none;
}

.logo {
    width: 120px;
    height: 42px;

}

.profile-dropdown {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
    list-style-type: none;
    padding: 10px 20px;
    position: absolute;
    top: 74px;
    right: 12px;
    background-color: white;
    min-width: 1rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.profile-dropdown.hidden {
    display: none;
}

.log-out-button {
    color: white;
    background-color: grey;
    height: 28px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.log-out-button:hover {
    cursor: pointer;
}

.manage-spots-link {
    color: teal;
}

.icon-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
    font-size: 12px;
    /* border: 2px solid red; */
    padding: 10px;
}

.fa-house,
.fa-building,
.fa-cow,
.fa-ship,
.fa-leaf,
.fa-person-shelter,
.fa-tree,
.fa-campground,
.fa-table-cells-large,
.fa-landmark-dome,
.fa-tent,
.fa-igloo {
    font-size: 30px;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-text {
    font-size: 12px;
}

/* .categories-bar {
    color: red;
    size: 5px;
} */
